# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars      
environments/*/terraform.tfvars 
crash.log
crash.*.log
.terraformrc
terraform.rc
tfplan
*.tfplan


# Sensitive files
*.pem
*.key
secrets.tf
secrets.auto.tfvars

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
